@font-face {
    font-family: MiSans-Semibold;
    src: url(../resources/MiSans-Semibold.ttf);
}
@font-face {
    font-family: MiSans;
    src: url(../resources/MiSans-Normal.ttf);
}


body {
    background-color: rgb(170,208,255);
    margin: 0;
}

/*header*/
header {
    padding: 10px;
    margin-top: 0%;
    width: 100%;
    top: 0;
    background-image: url(https://api.lo-li.icu/Bing);
    color: white;
    font-family: MiSans-Semibold;
    text-align: center;
}
#header_main{
    color: white;
    font-size: 4em;
}
#header_attached{
    color: #BFBFBF;
    font-size: 2em;
    margin-top: -40px;
}

/*main*/
.main {
    margin: auto;
    margin-top: 20px;
    max-width: 75%;
    padding: 5px;
    background-color: #D1E5FF;
    color: #062230;
    font-family: MiSans;
    border:#D1E5FF solid;
    border-radius: 8px;
    border-width: 4px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.title {
    margin-left: 5px;
    margin-top: 5px;
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-family: MiSans-Semibold;
    font-size: 2em;
    text-align: center;
    color:white;
    background-color: #2998CF;
    border:#2998CF solid;
    border-radius: 8px;
    border-width: 4px;
    filter: drop-shadow(0 10px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.content {
    margin: 10px;
    padding-left: 20px;
    font-size: 1.2em;
    background-color: #AAD0FF;
    border:#AAD0FF solid;
    border-radius: 8px;
    border-width: 4px;
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
}