@font-face {
    font-family: MiSans;
    src: url(../resources/font.woff2);
}


body {
    background-image: url(https://api.lo-li.icu/Bing);
    background-repeat:no-repeat;
    margin: 0;
}

/*header*/
header {
    padding: 10px;
    margin-top: 0%;
    width: 100%;
    top: 0;
    color: white;
    font-family: MiSans;
    text-align: center;
}
#header_main{
    color: white;
    font-size: 4em;
}
#header_attached{
    color: #BFBFBF;
    font-size: 2em;
    margin-top: -40px;
}

/*main*/
#main {
    margin: auto;
    margin-top: 20px;
    max-width: 75%;
    padding: 8px;
    background-color: rgb(209,229,255,0.7);
    color: #062230;
    font-family: MiSans;
    border-radius: 8px;
    border-width: 4px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.title {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-family: MiSans;
    font-size: 2em;
    font-weight:bold;
    text-align: center;
    color:white;
    background-color: #2998CF;
    border:#2998CF solid;
    border-radius: 8px;
    border-width: 4px;
    filter: drop-shadow(0 10px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.content {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    background-color: #AAD0FF;
    border:#AAD0FF solid;
    border-radius: 8px;
    border-width: 4px;
    filter: drop-shadow(0 10px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.programs {
    display: block;
    background-color: #e2efff;
    border-radius: 8px;
    border-width: 4px;
    margin: 10px;
    align-items: center;
}
#work_description {
    vertical-align:middle;
    font-size: 1em;
    display: inline-block;
}
#work_description b{
    font-size: 1.4em;
    display: block;
}
.friends {
    background-color: #e2efff;
    border-radius: 8px;
    border-width: 4px;
}

.imgs {
    vertical-align:middle;
    margin: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 8px;
    border-width: 4px;
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
}